<?xml version="1.0"?>
<config>
	<modules>
		<Rvtech_Starshipquote>
			<version>1.0.0.0</version>
		</Rvtech_Starshipquote>
	</modules>
	<global>
		<helpers>
			<starshipquote>
				<class>Rvtech_Starshipquote_Helper</class>
			</starshipquote>
		</helpers>
		<blocks>
			<starshipquote>
				<class>Rvtech_Starshipquote_Block</class>
			</starshipquote>
		</blocks>		
	</global>
	<frontend>
		<routers>
			<starshipquote>
				<use>standard</use>
				<args>
					<module>Rvtech_Starshipquote</module>
					<frontName>starshipquote</frontName>
				</args>
			</starshipquote>
		</routers>
		<layout>
			<updates>
				<starshipquote>
					<file>starshipquote.xml</file>
				</starshipquote>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<dhl_settings>
											<title>DHL Quote</title>
										</dhl_settings>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>