<?xml version="1.0"?>
<config>
	<tabs>
		<dhl translate="label" module="starshipquote">
			<label>DHL Quote</label>
			<sort_order>25</sort_order>
		</dhl>
	</tabs>
	<sections>
		<dhl_settings translate="label" module="starshipquote">
			<label>Account Settings</label>
			<tab>dhl</tab>
			<class>seprator-top</class>
			<sort_order>200</sort_order>			
			<show_in_default>1</show_in_default>
			<show_in_store>1</show_in_store>
			<show_in_website>1</show_in_website>
			<groups>			
				<dhl_account translate="label">
					<label>Account Configuration</label>				
					<expanded>1</expanded>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>	
					<show_in_store>1</show_in_store>
					<show_in_website>1</show_in_website>				
					<fields>
						<user_name translate="label">
							<label>Enabled</label>
							<validate>required-entry</validate>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<show_in_default>1</show_in_default>					
						</user_name>
						<user_key translate="label">
							<label>Account ID</label>							
							<frontend_type>text</frontend_type>
							<comment><![CDATA[<i>if empty default(403) will be used </i>]]></comment>
							<sort_order>3</sort_order>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
							<show_in_default>1</show_in_default>					
							<depends>
								<user_name>1</user_name>
							</depends>
						</user_key>						
					</fields>				
				</dhl_account>
			</groups>
		</dhl_settings>
	</sections>
</config>