<config>    
    <modules>
        <Rvtech_Starshipit>
            <version>1.0.0.0</version>
        </Rvtech_Starshipit>
    </modules>
    <admin>
       <routers>
            <adminhtml>
                <args>
                    <modules>
                        <starshipit after="Mage_Adminhtml">Rvtech_Starshipit</starshipit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <starshipit_options>
                                            <title>Starshipit Module Section</title>
                                        </starshipit_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
     		<blocks>
         		<starshipit>
              		<class>Rvtech_Starshipit_Block</class>
         		</starshipit>
      	</blocks>
        <models>
            <starshipit>
                  <class>Rvtech_Starshipit_Model</class>
            </starshipit>
        </models>
      	<helpers>
      			<starshipit>
      				<class>Rvtech_Starshipit_Helper</class>
      			</starshipit>
      	</helpers>
        <events>
          <checkout_type_onepage_save_order_after>
             <observers>
                <rvtech_starshipit_order_placed_sync_now>
                  <type>singleton</type>
                  <class>Rvtech_Starshipit_Model_Observer</class>
                  <method>syncOrdersNow</method>
                </rvtech_starshipit_order_placed_sync_now>
             </observers> 
          </checkout_type_onepage_save_order_after>  
        </events>
	  </global>
	  <default>
      <starshipit_options>
          <group1>                
              <sync_orders>5</sync_orders>         
          </group1>      
      </starshipit_options>
    </default>        
</config>  
